@model  SummerPracticeProject.Entities.Rates
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Add rate</h3>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m => m.IdShop)</p>
    <p>ID of the shop: @Html.EditorFor(m => m.IdShop)</p>
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Date: @Html.EditorFor(m => m.Date)</p>
    <p>@Html.ValidationMessageFor(m => m.Rate)</p>
    <p>Rate: @Html.EditorFor(m => m.Rate)</p>
    <p>@Html.ValidationMessageFor(m => m.RateBy)</p>
    <p>Rate by: @Html.EditorFor(m => m.RateBy)</p>
    <input type="submit" value="Add" />
}