
@model  SummerPracticeProject.Entities.Shops
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Add shop</h3>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m => m.Name )</p>
    <p>Name of the shop: @Html.EditorFor(m => m.Name)</p>
    <p>@Html.ValidationMessageFor(m => m.Address)</p>
    <p>Address: @Html.EditorFor(m => m.Address)</p>
    <input type="submit" value="Add" />
}

