@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" action="@Url.Action("Search", "Shop")">
    <label for="search">Enter rate:</label>
    <input type="text" name="name" id="search" value="@ViewData["searchpattern"]" />
    <button type="submit">Submit</button>
</form>
<h2>Result</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var @item in Model)
        {
            <div class="shop-row">
                <div class="text-out">@item.Name @item.Address</div>


                @if (User.Identity.IsAuthenticated)
                {
                    <form action="~/Views/Rates/AddRate.cshtml" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="Action" value="SetRating" />
                        <input type="hidden" name="ShopId" value="@item.Id">
                        <button type="submit" class="button-rate">Rate</button>
                        <select name="rating" id="select_type" style="float:right;">
                            <option value="none" hidden="">Choose Rating</option>
                            <option value="1">One Star</option>
                            <option value="2">Two Stars</option>
                            <option value="3">Three Stars</option>
                            <option value="4">Four Stars</option>
                            <option value="5">Five Stars</option>
                        </select>
                    </form>


                }
                else
                {
                    <p class="text-out">Sign in to Rate</p>
                }

            </div>
        }
    </tbody>
</table>
