@{
    /**/

    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shops and Rates</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            @Html.ActionLink("All shops", "Index", "Shop")
            @Html.ActionLink("Rates", "Index", "Rate")
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                @User.Identity.Name</p>
                

                @Html.ActionLink("Log Out", "Log Out", "User")

                @Html.ActionLink("Search", "Search", "Shop")
                @Html.ActionLink("Add Shop", "Add", "Shop")
            }
            else
            {
                @Html.ActionLink("SignIn", "SignIn", "User")
                @Html.ActionLink("SignUp", "SignUp", "User")
            }
        </header>
    </div>
</body>
</html>