@model  SummerPracticeProject.Entities.Users
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Sign In</h3>

<link href="~/Styles/Styles.css" rel="stylesheet" />
<br />
@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    <p>@Html.ValidationMessageFor(m => m.Login)</p>
    <p>Login: @Html.EditorFor(m => m.Login)</p>
    <p>@Html.ValidationMessageFor(m => m.Password)</p>
    <p>Password: @Html.PasswordFor(m => m.Password)</p>
    <input type="submit" value="Sign In" />
}

<form method="get" action=@Url.Action("SignUp", "User")>
    <input type="submit" value="Sign Up" />
</form>